<!DOCTYPE html>
<html lang="es">
    <a href="{% url 'index' %}">Volver al inicio</a>
    <h1>Usuarios registrados</h1>
    <html lang="es">

    <form method="GET" action="{% url 'mostrar_usuarios_actividades' %}">
        <input type="text" 
            name="actividad" 
            placeholder="Nombre de la actividad" 
            value="{{ request.GET.actividad }}"> <button type="submit">Buscar</button>
    </form>
    <br>
    
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Editar</th>
                <th>Eliminar</th> 
            </tr>
        </thead>

        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>
                    <a href="{% url 'detalle_usuario' usuario.id %}">
                        {{ usuario.nombre }}
                    </a>
                </td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.telefono }}</td>
                <td><a href="{% url 'editar_usuario' usuario.id %}">Editar </a></td>
                <td><a href="{% url 'eliminar_usuario' usuario.id %}">Borrar </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'nuevo_usuario' %}">Añadir nuevo usuario</a>
    <br>
</html>