<!DOCTYPE html>
<html lang="es">
    <a href="{% url 'index' %}">Volver al inicio</a>
    <h1>Actividades disponibles</h1>

    <form method="GET" action="{% url 'mostrar_actividades_tipos' %}">
      <input type="text"
            name="tipo"
            placeholder="Tipo de actividad"
            value="{{ request.GET.tipo }}"><button type="submit">Buscar</button>
    </form>
    <br>
    <form method="GET" action="{% url 'mostrar_actividades_monitores' %}">
        <input type="text" 
            name="monitor" 
            placeholder="Nombre del monitor" 
            value="{{ request.GET.monitor }}"> <button type="submit">Buscar</button>
    </form>
    <br>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actividad</th>
                <th>Plazas Disponibles</th>
                <th>Horario</th>
                <th>Duraccion</th>
                <th>Editar</th>
                <th>Eliminar</th>             
                <th>Inscribir</th>    
            </tr>
        </thead>
        <tbody>
            {% for actividad in actividades %}
            <tr>
                <td>{{ actividad.id }}</td>
                <td><a href="{% url 'detalle_actividad' actividad.id %}">{{ actividad.nombre }}</a></td>
                <td>{{ actividad.plazas_disponibles }}</td>
                <td>{{ actividad.horario }}</td>
                <td>{{ actividad.duración }}</td>
                <td><a href="{% url 'editar_actividad' actividad.id %}">Editar </a></td>
                <td><a href="{% url 'eliminar_actividad' actividad.id %}">Borrar </a></td>
                <td><a href="{% url 'nueva_inscripcion' actividad.id %}">Inscribir </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'nueva_actividad' %}">Añadir nueva Actividad</a>
    <br>

</html>