<!DOCTYPE html>
<html lang="es">
    <a href="{% url 'index' %}">Volver al inicio</a>
    <h1>{{ actividad.nombre }}</h1>

    <table border="1">
        <thead>
            <tr>

                <th>Id</th>
                <th>Usuario</th>
                <th>Email</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for inscripcion in inscripciones %}
            <tr>
                <td>{{ inscripcion.id }}</td>
                <td><a href="{% url 'detalle_usuario' inscripcion.usuario.id %}">{{ inscripcion.usuario.nombre }}</a></td>
                <td>{{ inscripcion.usuario.email }}</td>
                <td><a href="{% url 'eliminar_inscripciones' actividad.id inscripcion.usuario.id %}">Borrar </a></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</html>