<!DOCTYPE html>
<html lang="es">
    <a href="{% url 'index' %}">Volver al inicio</a>
    <h1>Monitores disponibles</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Número de Actividades</th>
                <th>Especialización</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>

        <tbody>
            {% for monitor in monitores %}
            <tr>
                <td>{{ monitor.id }}</td>
                <td>
                    <a href="{% url 'detalle_monitor' monitor.id %}">
                        {{ monitor.nombre }}
                    </a>
                </td>
                <td>{{ monitor.numActividades }}</td>
                <td>{{ monitor.especializacioin }}</td>
                <td><a href="{% url 'editar_monitor' monitor.id %}">Editar </a></td>
                <td><a href="{% url 'eliminar_monitor' monitor.id %}">Borrar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 

    <a href="{% url 'nuevo_monitor' %}">Añadir nuevo monitor</a>
    <br>

</html>