<!DOCTYPE html>
<html lang="es">
    <a href="{% url 'index' %}">Volver al inicio</a>
    <h1>Salas disponibles</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Capacidad</th>
                <th>Ubicación</th>
                <th>Editar</th>
                <th>Eliminar</th> 
            </tr>
        </thead>
        <tbody>
            {% for sala in salas %}
            <tr>
                <td>{{ sala.id }}</td>
                <td>
                    <a href="{% url 'detalle_sala' sala.id %}">
                        {{ sala.nombre }}
                    </a>
                </td>
                <td>{{ sala.capacidad }}</td>
                <td>{{ sala.ubicacion }}</td>
                <td><a href="{% url 'editar_sala' sala.id %}">Editar </a></td>
                <td><a href="{% url 'eliminar_sala' sala.id %}">Borrar </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'nueva_sala' %}">Añadir nueva sala</a>
    <br>
</html>